{% extends "AppBlog/base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% block content %}
    <br>
    <h4>¡Bienvenid@ al Blog!</h4>
    <br>
    <p>Me llamo Pablo Rivero, Soy Analista de Sistemas y me dedico a la automatización y desarrollo Full Stack. Utilizando distintas tecnologías según Factibilidad Técnica.
        Podes contactarte conmigo por Linkedin.
    </p>
    <p>Algunas Tecnologías que utilizo en la diaria son:</p>
    <li>
        Python
    </li>
    <li>
        Django
    </li>
    <li>
        Php
    </li>
    <li>
        Laravel
    </li>
    <li>
        JS
    </li>
    <li>
         Oracle -Pl/Sql
    </li>
    <li>
        SQlServer
    </li>
    <li>
        Mysql
    </li>
    <li>
        MongoDB
    </li>
    <li>
        HTML - CSS
    </li>
    <li>
         Perl
    </li>
    <li>
        Shellscript
   </li>
   <li>
    Linux
    </li>
    <br>
    <br>
    <p>
    Este Proyecto es un blog en el cual podras crear Post!, Editarlos, eliminarlos.</p>
    <p>
    Tambien vas a poder comentar otros Post!. </p>
    <p><h5>Queres contactarte conmigo por sugerencias??</h5></p>
    <p>Hacelo desde Contacto!</p>

    <p>Recorda que para acceder a los POST debes crearte un usuario!</p>
    <br>
    <br>
    

{% endblock %}