{% extends "AppBlog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="center">
   <center> <h1>Podes contactarte por este medio!</h1> </center>
   {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    {% if miFormulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}
    <form action="" method="POST">{% csrf_token %}

        {% if mensaje %}
            <div class="alert alert-success" role="alert">
            {{ mensaje }}
            </div>
        {% endif %}
        <table>
            {{ miFormulario|crispy }}
        </table>

        <input type="submit" class="btn btn-primary btn-block" value="Enviar">

    </form>
   
</div>
{% endblock %}