{% extends 'AppBlog/base.html' %}

{% block content %}
    <center><h1>Bienvenido a DjangoBlog!</h1></center>
    <div class="center">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-md-8 mt-3 left">
                    {% for post in post_list %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.titulo }}</h2>
                            <p class="card-text text-muted h6">{{ post.creado}} </p>
                            <p class="card-text">{{post.contenido|slice:":200" }}</p>
                            <a href="{% url 'PostDetalle' post.slug  %}" class="btn btn-primary">Leer Más &rarr;</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>

    </div>
{% endblock %}


