{% extends "AppBlog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

{% block content %}
<center> <h1>Aca podes crear un Post!</h1> </center>

    <form method="post">
        
        {% csrf_token %}
        {{ form.media}}
        {{ form|crispy}}

        <input type="submit" class="btn btn-primary btn-block" value="Enviar">
    </form>

{% endblock %}

