{% extends "AppBlog/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
        <div class="container">
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="ccol-md card mb-4  mt-3 center  top">
                    {% for post in post_list %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.titulo }}</h2>
                            <p class="card-text text-muted h6">{{ post.creado}} </p>
                            <p class="card-text">{{post.contenido|slice:":200" }}</p>
                            <a href="{% url 'PostDetalle' post.slug  %}" class="btn btn-primary">Leer Más &rarr;</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
*-*
{% endblock %}